body{
    background-color: rgba(114, 48, 48, 0.452);
    font-family:fantasy;
    font-size: 20px;
    color: rgb(110, 36, 13);
    
}
.titulo{
    text-align:center;
}
.texto{
    text-align: center;
    margin-bottom: 90px;
    padding:30px;
}
.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
    font-size: 30px;
}
.navegacao h1{
    font-size:  80px; 
    margin-right: auto;
}
.navegacao a{
    color:brown;
    text-decoration: none;
}
.navegacao{
    display: flex;
}
.navegacao a:hover{
    color: rgb(53, 4, 4);
}
li{
    margin-right: 20px;
}
.materia{
    background-color: #ffffff;
}

.botao{
    color: rgb(255, 255, 255);
    text-decoration:none;
    background-color: dodgerblue;
    margin-right: 450px;
    display: flex;
    
}

.botao:hover{
    color: darkblue;
}
.rodape{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 30px;
    text-decoration: none;
}
.rodape a{
    color: rgb(110, 36, 13);
    text-decoration: none;
}


