/* MOD - TODOS O SITE*/
*{
    margin: 0;
    box-sizing: border-box;
}
/* MOD - CORPO(BODY)*/
body{
    background-color: rgb(0, 0, 0);
    font-family:fantasy;
    font-size: 20px;
    color: rgb(110, 36, 13);
    
}
/* MOD - TOPO*/
.topo{
    background-color: rgb(5, 5, 5);
}
/* MOD - IMAGEM TOPO*/
.imgtop img{
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 200px;
    color: rgba(165, 42, 42, 0.664);
}
/* MOD - TÍTULO*/
.titulo{
    text-align:center;
    display:block;
}
/* MOD - TEXTO*/
.texto{
    text-align: center;
    margin-bottom: 90px;
    padding:30px;
}
/* MOD - MENU*/
.menu{
    list-style: none;
    margin-left: auto;
    font-size: 30px;
    display: flex;
}
/* MOD - NAVEGAÇÃO*/
.navegacao h1{
    font-size:  80px; 
    margin-right: auto;
}
.navegacao a{
    color:rgba(165, 42, 42, 0.664);
    text-decoration: none;
}
.navegacao{
    display: flex;
}
.navegacao a:hover{
    color: rgb(53, 4, 4);
}
/* MOD - LISTA*/
li{
    margin-right: 20px;
}
/* MOD - MAIN*/
main{
    padding: 30px;
}
/* MOD - GRADE*/
.grade {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    gap: 15px;
}
/* MOD - MATÉRIA DO SITE*/
.materia{
    background-color: #ffffff;
    padding: 100px;
    margin:40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.materia h2{
    font-size: 40px;
    text-align: center;
}
.materia img{
    width:100%;
    margin-bottom: 15px;
    border-radius: 15px;
}
/* MOD - BOTÃO DO SITE*/
.botao{
    background-color: brown;
    color:#ffffff;
    text-decoration: none;
    padding:15px;
    display: inline-block;
    border-radius: 20px;
}
.botao:hover{
    color: rgb(61, 0, 0);
    background-color: rgb(0, 0, 0);
}
/* MOD - RODAPÉ DO SITE */
.rodape{
    color: rgb(121, 27, 27);
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}
.rodape a{
    color: rgb(110, 36, 13);
    text-decoration: none;
}
/* MOD - ROTULO-CONTATOS */
.rotulo{
    display: block;
    margin: 20px;
}
/* MOD - CAMPO-CONTATOS */
.campo { 
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: rgb(131, 70, 70);
}
.campo:focus{
    background-color: #803c3c;
    outline: none;
}
/* MOD - CONTATO*/
.contato{
    background-color: #ffffff;
    padding: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

/* MOD - TEXTAREA E O CAMPO */
textarea.campo{
    height: 150px;
    padding: 10px;
}
/* MOD - MAPA */
.mapa{
    align-items: center;
    padding: 30px;
    width: 100%;
    padding-left: 310px;
    padding-right: 310px;
}