body{
    background-color: rgba(114, 48, 48, 0.452);
    font-family:fantasy;
    font-size: 20px;
    color: rgb(110, 36, 13);
    
}
.topo a{
    text-decoration: none;
    color:darkred;

}
.topo a:hover{
    color:rgb(78, 0, 0);
}
.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
}
.navegacao{
    display: flex;
}
.menu a:hover{
    color:rgb(70, 0, 0);
}
article{
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
}
.materia{
    color: rgb(255, 255, 255);
    text-decoration:none;
}
.rodape{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 30px;
    text-decoration: none;
}
.rodape a{
    color: rgb(110, 36, 13);
    text-decoration: none;
}
.article{
    align-items: center;
}
.materia{
    background-color: dodgerblue;
    text-decoration: none;
}
li{
    margin-right: 20px;
    
}